/* globals.css */

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #333;
  /* Changed background to be uniform grey */
  color: #fff;
  /* Changed text color to white for contrast */
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 16px;
  text-align: left;
  /* Align text to the left */
}

p {
  font-size: 16px;
  color: #ccc;
  /* Lighter grey text for paragraphs */
  margin-bottom: 20px;
  text-align: left;
  /* Align text to the left */
}

a {
  color: #007AFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

div {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: #333;
  /* Uniform background color */
  border-radius: 8px;
  /*  box shadow */
}

input[type="text"] {
  padding: 11px;
  font-size: 16px;
  border: 1px solid #FFFFFF65;
  border-radius: 10px;
  width: 100%;
  /* Adjust width for side-by-side with button */
  display: inline-block;
  margin: 0;
  /* Removed bottom margin */
  vertical-align: top;
  /* Align with button */
  background-color: #0000001a;
  color: #fff;
}

button {
  background: #007AFF;
  color: #fff;
  border: 1px solid #FFFFFF65;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 12px;
  /* Circular button */
  cursor: pointer;
  transition: background 0.3s;
  /* display: inline-block; */
  margin-left: 10px;
  /* Space between text input and button */
  vertical-align: top;
  /* Align with text input */
}

button:hover {
  background: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid #444;
  /* More visible separators */
  border-radius: 25px;
  /* Rounded borders for list items */
  background: #444;
  /* Background for list items */
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

li:last-child {
  border-bottom: none;
}

li a {
  font-size: 20px;
  color: #fff;
  display: block;
  margin-left: 20px;
  /* Space for image next to text */
  font-weight: light;
}

img {
  border-radius: 50%;
  /* Circular images */
  max-height: 60px;
  /* Fixed height for images */
  margin-right: 20px;
  /* Space between image and name */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

input:focus,
button:focus {
  outline: none;
}

div {
  text-align: left;
}

.hover-grow-shadow {
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 25px;
}

.hover-grow-shadow:hover {
  transform: scale(1.01);
  /* Makes the div grow slightly */
  box-shadow: 0 0 10px rgba(70, 183, 239, 0.5);
  border-radius: 25px;
  outline: 1px solid #007bffb8;
  /* Adds a shadow effect */
}
